<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<security-role>
		<description></description>
		<role-name>jingyu</role-name>
	</security-role>
	<security-constraint>
		<display-name>NiceInfo Security</display-name>
		<web-resource-collection>
			<web-resource-name>NiceInfo</web-resource-name>
			<description></description>
			<url-pattern>/addCorporation.jsp</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<description>관리자명</description>
			<role-name>jingyu</role-name>
		</auth-constraint>
	</security-constraint>
	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/login.jsp</form-login-page>
			<form-error-page>/login_failed.jsp</form-error-page>
		</form-login-config>
	</login-config>	
</web-app>